body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #030303;
    color: aliceblue;
}

.big_square {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    background-color: darkgray;
    height: 110px;
    width: 330px;
}

.square {
    /* display: inline-block; */
    /* margin: 10px 0 0 10px; */
    width: 100px;
    height: 100px;
    background-color: oldlace;
    border-radius: 15%;
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.o {

}

.o::after {
    content: "\26BD";
    font-size: 50px;
}

.x::after {
    content: "\1F3C8";
    font-size: 50px;
}

#reset {
    display: none;
    background-color: oldlace;
    border-radius: 15%;
    border: solid 2px darkgray ;
    padding: 10px 20px;
    margin-top: 15px;
    animation: moveModal .2s easy-in;
}

#modal {
    position: absolute;
    top: calc(50% - 120px);
    font-size: 10px;
    display:none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 400px;
    height: 200px;
    border-radius: 10%;
    background-color: rgba(30, 30, 30, .9);
    animation: moveModal .2s ease-in ;
}

@keyframes moveModal {
    0% {
        transform: scale(0.3);
    } 100% {
        transform: scale(1);
    }
}

.font {
    color: antiquewhite;
}

.ball_soccer::after {
    content: "\26BD";
    font-size: 25px;

}

.ball_nfl::after {
    content: "\1F3C8";
    font-size: 25px;

}